/* ************************ */
/*			GENERAL			*/
/* ************************ */
.left {
	float: left;
}
.right {
	float: right;
}

p.justify {
	text-align: justify;
}
p:last-child {
	margin-bottom: 0;
}

article ul {
	margin-left: 1.5em;
}
	article li {
		list-style-type: circle;
		margin-bottom: 1em;
		padding-left: 0.5em;
	}
	article ul.special {
		text-align: center;
	    font-weight: 500;
	    margin: 0 0 2em 0;
	}
		article .special li {
			list-style-type: none;
			padding: 0;
		}

blockquote cite {
	font-style: italic;
    font-size: 0.9em;
}
	blockquote cite::before {
		content: "- ";
	}


cite {
	margin-bottom: 0.5em;
    display: block;
    text-indent: -2em;
    margin-left: 2em;
}

.quote {
	font-style: italic;
	text-align: justify;
	margin-left: 5em;
	margin-right: 5em;
}
	@media screen and (max-width: 736px) {
		.quote {
			margin-left: 0;
			margin-right: 0;
		}
	}



header.special {
	margin-bottom: 3em;
	padding-top: 6em;
}



/* ************************************ */
/*			      FIGURES				*/
/*			TABLES, IMAGES, ETC			*/
/* ************************************ */

figure {
	text-align: center;
}

figcaption {
    text-align: center;
    font-style: italic;
	margin-bottom: 0.5em;
}


thead {
	background: #ffe1bb;
}
	thead th, thead td {
		padding: 2px 0;
	}
	tr {
	    border-top: 1px solid rgba(124, 128, 129, 0.2);
	    border-bottom: 1px solid rgba(124, 128, 129, 0.2);
	}
		tr:nth-child(even) {
			background: #f3f6fa;
		}
	th {
		font-weight: bold;
	}
	td {
		text-align: center;
	}

	table.columnHeader th:first-child, table.columnHeader td:first-child {
		text-align: left;
		padding-left: 1em;
	}
	table tr.important {
		background: #e3e6ea;
	}
		table tr.important td {
			padding: 2px 0;
		}



/* ************************ */
/*			MANUAL			*/
/* ************************ */
.tableofcontents .row {
    column-count: 3;
	column-width: auto;
}
	.tableofcontents .row div {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		width: 100%;
	}

	.tableofcontents .4u {
		float: none;
		display: inline-block;
		margin: 0;

	}
	.tableofcontents section {
		border: solid 1px rgba(124, 128, 129, 0.2);
		padding: 1em;
	}
	.tableofcontents h2 {
		margin-bottom: 0;
	}
	.tableofcontents p {
		margin-bottom: .5em;
		line-height: 1.5em;
	}


.manualNav {
	margin-bottom: 20px;
	text-align: center;
}
	.wrapper + .manualNav {
		margin-top: -4em;
	}
	.manualNav .button.small {
		padding: 1em 2em;
		font-size: 0.6em;
		line-height: 1em;
		min-width: 0;
		max-width: none;
	}
	@media screen and (max-width: 736px) {
		.manualNav {
			margin-bottom: 0px;
		}
		.wrapper + .manualNav {
			margin-top: -1.5em;
		}
		.manualNav .button.small {
			width: 95%;
			float: none;
			margin-bottom: 1em;
		}
	}


.header {
	margin-top: 2em;
}
